.CardContainer {
  background-color: beige;
  width: 60%;
  display: flex;
  height: 3rem;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  justify-content: space-between;
  margin-bottom: 1rem;
}
