.sidebarcontianer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: fixed;
	/* background-color: #FFBFA9; */
	width: 15%;
	left: 5rem;
	margin-top: 4rem;
	min-height: 40%;
	border-radius: .5rem;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: .1rem;
	border: 1px solid black;

}
.listle{
	display: flex;
}